body {
  background-color: #fffff8;
}

.profile-container {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  margin-bottom: 2rem;
}

.profile-image {
  max-width: 200px;
  width: 100%;
  height: auto;
  flex-shrink: 0;
}

/* Main content area */
.post-content,
.post-title,
.post-meta,
.post-content h2,
.post-content ul,
.post-content p {
}

@media screen and (max-width: 600px) {
  .profile-container {
    flex-direction: column;
    align-items: center;
  }

  .profile-image {
    max-width: 200px;
    margin-bottom: 1rem;
  }
}

a {
  color: #046307; /* Dark Emerald Green */
}

a:visited {
  color: #046307; /* Dark Emerald Green */
}
